:root {
  --baby-blue: #A1CAF1;
  --navy-blue: #001F54;
}

body {
  /* text for webite */
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  /* background colors */
  background-color: var(--baby-blue);
  color: var(--navy-blue);
}



